.link-section-container {
    width: 100%;
    text-align: center;
    padding-top: 75px;
}

.link-section-table, .link-section-table td {
    margin: auto;
    padding: 10px;
}

.link-section-icon{
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.link-section-icon:hover {
    opacity: 0.6;
}

.link-section-navbar {
    color: white;
    font-family: Montserrat;
    font-size: 18px;
}

.link-section-navbar a {
    text-decoration: none;
    color: white;
}
.link-section-navbar a:hover {
    opacity: 0.6;
}