.link-section-container {
    width: 100%;
    text-align: center;
    padding-top: 75px;
}

.link-section-table, .link-section-table td {
    margin: auto;
    padding: 10px;
}

.link-section-icon{
    width: 45px;
    height: 45px;
    vertical-align: middle;
}

.link-section-icon:hover {
    opacity: 0.7;
}