.timeline-container {
    width: 100%;
    margin-top: 250px;
    text-align: center;
    padding-bottom: 250px;
}

.timeline-table {
    margin: auto;
    padding: 0px;
    border-collapse: collapse;
}

.timeline-table tr {
    padding: 0px;
    margin: 0px;
}

.timeline-image-container {
    width: 75px;
    height: 75px;
    padding: 0px;
    margin: 0px;
}

.connector {
    width: 200px;
    height: 75px;
    padding: 0px;
    margin: 0px;
}

.timeline-table img {
    width: 75px;
    height: 75px;
}

.timeline-connector {
    background-color: #7AB55C;
    height: 2px;
    width: 100%;
}

.timeline-image {
    border: solid #7AB55C;
    border-radius: 100%;
}

.timeline-point-connector-left, .timeline-point-connector-right {
    background-color: #7AB55C;
    height: 2px;
    width: 100%;
}

.timeline-point-right, .timeline-point-left {
    height: 10px;
    width: 10px;
    background-color: #7AB55C;
    border-radius: 100%;
}

.timeline-point-left {
    float: right;
}

.timeline-table td {
    border: solid black;
}

.timeline-info-up {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid #7AB55C;
}

.timeline-info-down {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #7AB55C;
}