.timeline-container {
    width: 100%;
    margin-top: 250px;
    text-align: center;
    padding-bottom: 250px;
}

.timeline-title {
    font-family: Montserrat;
    color: white;
    margin-bottom: 80px;
}

.timeline-table {
    margin: auto;
    padding: 0px;
    border-collapse: collapse;
}

.timeline-table tr {
    padding: 0px;
    margin: 0px;
}

.timeline-images-row td {
    width: 75px;
    height: 75px;
    padding: 0px;
    margin: 0px;
}

.connector {
    width: 200px;
    height: 75px;
    padding: 0px;
    margin: 0px;
}

.timeline-table img {
    width: 75px;
    height: 75px;
}

.timeline-connector {
    background-color: #7AB55C;
    height: 2px;
    width: 100%;
}

.timeline-image {
    border: solid #7AB55C;
    border-radius: 100%;
}

.timeline-point-connector-left, .timeline-point-connector-right {
    background-color: #7AB55C;
    height: 2px;
    width: 100%;
}

.timeline-point-right, .timeline-point-left {
    height: 10px;
    width: 10px;
    background-color: #7AB55C;
    border-radius: 100%;
}

.timeline-point-left {
    float: right;
}

.timeline-info-up {
    margin: auto;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid #7AB55C;
}

.timeline-info-down {
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #7AB55C;
}

.timeline-info-box-container {
    height: 150px;
}

.timeline-info-box {
    width: 230px;
    height: 100%;
    border: solid #7AB55C;
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.timeline-info-box h1, .timeline-info-box h2 {
    padding: 0;
    margin: 0px;
    font-family: Montserrat;
    color: white;
}

.timeline-info-box h1 {
    font-size: 20px;
    margin-top: 2px;
}

.timeline-info-box h2 {
    font-size: 15px;
}

.timeline-info-list {
    color: white;
    text-align: left;
}

.timeline-info-list li {
    font-family: Montserrat;
    font-size: 13px;
}